@import '../../styles/_colors';
@import '../../styles/_sizes';

#citationTitleHeaderTitle{
  position: relative;
//  margin-bottom: .4em;
  font-size: calc(3vw + 3vh);
  padding: 1.2em 0;
  span {
    color: white;
    width: 100%;
    text-align: center;
    z-index: 100;
    &.subText {
      font-size: $fontSizeMedium;
    }
    &.subSubText {
      font-size: $fontSizeNormal;
    }
  }
};


#citationTitleHeaderBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat:no-repeat;
  background-size:cover;
  opacity: .3;
  z-index: 1;
  // background-image: url('../../assets/images/mainPage/ticket/ticket-header-image-bw.jpg');
}
