<app-court-title-header headerText="FAQ"></app-court-title-header>

<div id="content" fxLayout="column">
  <h2>Tickets</h2>
  <!-- <div fxLayout="row"> -->
  <!--  <span class="faqItem" fxFlex="70" *ngFor="let faqItem of faqGroup['ticket-faq']">{{faqItem.q}}</span> -->
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let faqItem of faqGroup['ticket-faq']" [colspan]="faqItem.colSpan" [rowspan]="faqItem.rowSpan" [style.background]="faqItem.itemColor">
        {{faqItem.q}}
      </mat-grid-tile>
    </mat-grid-list>
  <!-- </div> -->

  <h2>Courts</h2>

  <h2>Legal</h2>

  <h2>Payment</h2>

</div>
