@import '../../styles/_colors';
@import '../../styles/_sizes';

#content {
  margin-left: 1em;
  margin-right: 1em;

  h2 {
    &:first-child {
      margin-top: 0px;
    }
  }
/*
  .mat-grid-tile {
    border: 1px solid $primary-border;
    &.colorClass1 {
      background-color: lightgrey;
    }
    &.colorClass2 {
      background-color: $accent-light-background;
    }
    &.colorClass3 {
      background-color: $primary-light-background;
    }
  }
*/
  ::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
    // text-align: center;
    align-items: start;
    justify-content: start;
   // padding: 10px;
    mat-icon {
      @include icon-size-mixin(15px);
    }
  }
}

.faqItemRow {
  flex-wrap: wrap;
  span {
    padding: 15px;
  }
}



