@import '../../styles/_colors';
@import '../../styles/_sizes';

h1:first-child {
  position: relative;
  #cancelButton {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 0px;
    min-width: 31px !important;
  }
}

#instructions {
  text-align: center;
}

mat-form-field {
  width: 200px;
  font-size: $fontSizeMedium;
  margin: 0px !important;
  &:first-child {
    padding-bottom: 0px !important;
  }
}
