$blue : #34495e;
$lightBlue : #3498db;
$grey : #7f8c8d;
$lightGrey : #ecf0f1;
$background: #FFFFFF;
$scheme_limeGreen: #c4d600;
$scheme_magenta: #912c91;
$scheme_blue: #60a0d5;
$white: #ffffff;
$main_red: #f26327;
