$blue : #34495e;
$lightBlue : #3498db;
$grey : #7f8c8d;
$lightGrey : #ecf0f1;
$navbarCollapseMenuColor:#f5f5f5;
$background: #FFFFFF;
$scheme_limeGreen: #c4d600;
$scheme_magenta: #912c91;
$scheme_blue: #60a0d5;
$white: #ffffff;
$black: #000000;
$main_banner: #5fa0d6;
$scheme_link_color: $scheme_blue;
$scheme_primary_color: $scheme_blue;
