$fa-font-path: "/bower_components/components-font-awesome/fonts/";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$headerPageMargin: 1.5rem;
$subPageMargin: 1.5rem;

$navbar-height:95px;
