@import "_colors";
@import "_constants";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

footer .container, footer ul{
  padding: 0px;
}

footer li {
    display: inline;
    padding: 0px 5px 5px 0px;
    line-height: 1em;
}

