@import "_colors";
@import "_constants";

#navbar{
    position: relative;
    z-index: 10;
}

.navbar-nav li{
  text-transform: uppercase;
  font-family: 'Montserrat',sans-serif !important;
}

.navbar {
  background-color: $white !important;
}

.navbar{
  margin:20px 0;
  height:$navbar-height - 40px !important;
  border:none !important;
}

.navbar-brand{
  padding: 0px !important;
  margin:0px !important;
  height: 54px !important;
  position: relative;
  z-index: 11;
}
.navbar-brand img{
  height: 100%;
}

.navbar-default .navbar-nav > li > a {
  color: #777 !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $blue;
}

.navbar-toggle {
  margin-right: 0px !important;
}

@media screen and (min-width:768px){
  .navbar-collapse.collapse{
    height: 10px !important; /* when not in mobile view this needs to be small */
  }
}

@media screen and (max-width:767px) {
  .navbar-collapse {
    background-color: $navbarCollapseMenuColor;
  }
}

@media screen and (min-width:768px) and (max-width:900px) {
  .navbar-header{
    display:block;
    float:none;
    clear:both;
    text-align: center;
  }

  .navbar-brand{
    display:block;
    float:none;
    height: 40px !important;
  }

  #navbar{
    text-align: center;
  }

  .navbar-nav{
    float:none !important;
    display:inline-block;
  }
}


