@import "_colors";
@import "_constants";

#selectedMunicipalityFromMap{
  border: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#selectedMunicipalityFromMap .ui-select-search{
  display:none;
}
