$fa-font-path: "/bower_components/components-font-awesome/fonts/";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

@import "_colors";

$navbar-height:95px;
$footer-height: 60px;

html, body {
  font-family: "Helvetica Neue","Helvetica","SansSerif";
  font-size: $font-size-base;
}

html{
  position: relative;
  min-height: 100%;
}

body{
  margin: 0 0 $footer-height 0;
  width:100%;
}

#mainContent {
  min-height: 100%;
  height: auto;
  width: 100%;
}

.background {
  background: url('/images/background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-nav li{
  text-transform: uppercase;
  font-family: 'Montserrat',sans-serif !important;
}

.navbar {
  background-color: $white !important;
}

footer {
  text-align: center;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  overflow:hidden;
  line-height: $footer-height;
}

h1 {
  color: $blue;
}

h2 {
  color: $blue;
}

h3 {
  color: $blue;
}

p.address1{
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom: 0px;
}

p.address2{
  padding-top:0px;
  margin-top:0px;
}

p, ul, ol,
.court-search-bar .ui-select-placeholder,
.court-search-bar .ui-select-search,
.court-search-bar ul,
.homepageTileSelected .ui-select-placeholder,
.homepageTileSelected .ui-select-search,
.homepageTileSelected .ui-select-toggle,
.homepageTileSelected ul,
.homepageTileSelected input{
  font-size: 1.1rem;
}

ul.indent-only{
  list-style: none;
}

.primary {
  color: $blue;
}

.secondary {
  color: $grey;
}

.magenta-accent, .magenta-accent h3{
  color: $scheme_magenta;
}

.blue-accent, .blue-accent h3{
  color: $scheme_blue;
}

.lime-green-accent, .lime-green-accent h3{
  color: $scheme_limeGreen;
}

.magenta-accent .homepageTileSelected,
.magenta-accent .homepageTileSelected h3,
.magenta-accent .homepageTileSelected label{
  background-color: $scheme_magenta;
  color: white;
}

.blue-accent .homepageTileSelected,
.blue-accent .homepageTileSelected h3,
.blue-accent .homepageTileSelected label{
  background-color: $scheme_blue;
  color: white;
}

.lime-green-accent .homepageTileSelected,
.lime-green-accent .homepageTileSelected h3,
.lime-green-accent .homepageTileSelected label{
  background-color: $scheme_limeGreen;
  color: white;
}

.no-border-col .homepageTile{
  border: none !important;
}

.secondaryAccent {
  color: $lightGrey;
}

.centered {
  text-align: center;
}

.callToAction {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

$homepageTileHeight : 75px;

@media screen and (min-width:992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.homepageHeader-selected{
  text-align: center;
}

.homepageTileIcon-selected{
  display: block;
  width:100%;
  position:absolute;
  bottom:50px;
  font-size:1.2em;
}

.homepageTile-bottomButton{
  position: absolute;
  left:0px;
  right:0px;
  bottom:10px;
  display:block;
}
.homepageTile-bottomButton a{
  position:relative;
  margin-left: auto;
  margin-right: auto;

}

.court-search-bar{
  padding: 0 1em 2em 1em;
}

.find-court-heading h3{
  display: inline-block;
}

.find-court-heading{
  margin: 1em 0;
}

.homepageTile {
  min-height: $homepageTileHeight;
  position: relative;
  height:100%;
  font-family: "Lato",sans-serif;
}

.homepageTile-withButton{
  padding-bottom:35px;
}

.homePageTileIcon {
  text-align: center;
  padding: 0px 5px;
}

.homepageTile:hover, .court-search-bar:hover {
  border-color: $blue;
  cursor: pointer;
}

.homepageTile.unselected, .court-search-bar.unselected {
  opacity: 0.7;
}

.showFullTileBox{
  color:inherit;
}

.close{
  position:absolute;
  top:5px;
  right:5px;
  color:$white !important;
  opacity: 1.0;
}
.close:hover{
  color:$white !important;
}

.homepageTileSelected {
  min-height: $homepageTileHeight;
  position:relative;
  font-family: "Lato",sans-serif;
  padding:10px 20px;
}

.homepageTileSelected h3{
  text-align: center;
}

label {
  color: $blue;
  font-size: 1.2em;
}

.required {
  display: inline-block;
  color: #9D1C20;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  font-weight: bold;
  vertical-align: top;
}

.ui-select-container:not(.ui-select-multiple) {
  padding: 0 !important;
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: $lightBlue !important;
}

.ui-select-no-choice span {
  margin-left: 15px;
}

@media only screen and (max-width: 767px) {
  .homepageTile {
    height: auto;
  }

  footer {
    line-height: 1.4em;
    padding-top: 10px;
  }

  footer li{
    display: list-item !important;
    font-size: .8em;
  }

  #copyRight {
    font-size: .8em;
  }
}

.noViolations {
  font-style: italic;
}

.italic {
  font-style: italic;
}

.selectableRow {
  cursor: pointer;
}

.selectedRow {
  background-color: $grey;
}

.navbar{
  margin:20px 0;
  height:$navbar-height - 40px !important;
  border:none !important;
}

.navbar-brand{
  padding: 0px 0px 0px 15px !important;
  height: 54px !important;
}
.navbar-brand img{
  height: 100%;
  padding-left: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #777 !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $blue;
}

.navbar-header {
  margin-right: 20px !important;
}

#mainSearchBox{
  height: 600px;
  background-image: url('../images/main-image-1920x600.jpg');
  background-size:100%;
  background-repeat: no-repeat;
  padding:0px;
  padding-top:50px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#mainSearchBox h1{
  font-size:3em;
  color:$white;
  padding:0 15px;
  margin:0px !important;
}

#searchBoxInstructions{
  font-size:1.3em;
  color:$white;
  padding:0 20px;
}

#municipalitiesFinder{
  width:80%;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
}

.main-page-banner{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1.3em;
  background: $main_red;
  padding:5px 10px;
  display:block;
  border-radius: .5em;
  margin: 10px 20px 0px;
  color: $white;
}

@media only screen and (max-width: 1367px) {
  #mainSearchBox{
    height: 427px;
    background-image: url('../images/main-image-1366x427.jpg');
    padding-top:50px;
  }
  #mainSearchBox h1{
    font-size:3em;
  }

  #searchBoxInstructions,.main-page-banner{
    font-size:1.3em;
  }
  #municipalitiesFinder{
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1095px) {
  #mainSearchBox {
    height: 350px;
  }
}

@media only screen and (max-width: 1025px) {
  #mainSearchBox{
    height: 320px;
    background-image: url('../images/main-image-1024x320.jpg');
    padding-top:30px;
  }

  #mainSearchBox h1{
    font-size:2.5em;
  }

  #searchBoxInstructions,.main-page-banner{
    font-size:1.3em;
  }

  #municipalitiesFinder{
    margin-top: 30px;
  }
}

@media only screen and (max-width: 769px) {
  #mainSearchBox{
    height: 240px;
    background-image: url('../images/main-image-768x240.jpg');
    padding-top:10px;
  }

  #mainSearchBox h1{
    font-size:2em;
  }

  #searchBoxInstructions, .main-page-banner{
    font-size:1em;
  }

  #municipalitiesFinder{
    margin-top: 15px;
  }
}

@media only screen and (max-width: 451px) {
  #mainSearchBox{
    height: 141px;
    background-image: url('../images/main-image-450x141.jpg');
    padding-top:5px;
  }

  #mainSearchBox h1{
    font-size:1.5em;
  }

  #searchBoxInstructions, .main-page-banner{
    font-size:.8em;
  }

  #municipalitiesFinder{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 351px) {
  #mainSearchBox{
    height: 100px;
    background-image: url('../images/main-image-320x100.jpg');
    padding-top:5px;
  }

  #mainSearchBox h1{
    font-size:1.3em;
  }

  #searchBoxInstructions,.main-page-banner{
    font-size:.7em;
  }

  #municipalitiesFinder{
    margin-top: 5px;
  }
}


.footerMenu a{
  color: $scheme_limeGreen
}

#copyRight{
  color: $white;
}

#homePageTileBoxSection{
  margin-top:25px;
}

table {
  thead {
    background-color: $blue;

    th {
      color: $lightGrey;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

.modal-header {
  background-color: $blue;

  .modal-title {
    color: $lightGrey;
  }
}

#communityServiceEmbed{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  margin-top:80px;
}
.Question{
  font-size: 1.5em;
  color: $blue;
}

.Answer{
  font-size: 1.2em;
  color: $grey;
}

#errorPage .well{
  margin-top: 20px;
}

#mapid{
  height:250px;
}

#courtSearch-direction-button{
  margin-top: 10px;
  text-align: right;
}

#court-fines td{
  padding-right:10px;
}

.helpPage-Question:hover{
  cursor:pointer;
}
.about-page-margin{
  margin-bottom:1.5rem;
}
.anchor{
  display:block;
  position:relative;
  top:-($navbar-height) - 5px;
  visibility: hidden;
}

@media print {
  .no-print, .no-print *
  {
    display: none !important;
  }

  #citationInfoPage h2 {
    margin-top: 0;
  }

  #citationInfoPage .well {
    margin-top: 10px;
  }
}
