$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

@import "_colors";

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 94%;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: -60px !important;
  padding-bottom: 60px !important;
  display: table;
}

#someOtherWrapper {
  min-height: 100%;
  height: auto;
  width: 100%;
  background-color: $background;
  position: relative;
  display: table-cell;
  padding-top: 85px;
}

#mainContent {
  min-height: 100%;
  height: auto;
  width: 100%;
}

.background {
  background: url('/images/background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: $lightGrey !important;
}

footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: $lightGrey;
}

h1 {
  color: $blue;
}

h2 {
  color: $blue;
}

h3 {
  color: $blue;
}

.primary {
  color: $blue;
}

.secondary {
  color: $grey;
}

.accent {
  color: $lightBlue;
}

.secondaryAccent {
  color: $lightGrey;
}

.centered {
  text-align: center;
}

.callToAction {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

$homepageTileHeight : 250px;

.homepageTile {
  height: $homepageTileHeight;
  position: relative;
}

.homePageTileIcon {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}

.homepageTile:hover {
  border-color: $blue;
  cursor: pointer;
}

.homepageTile.unselected {
  opacity: 0.5;
}

.homepageTileSelected {
  padding: 10px;
  height: $homepageTileHeight;
}

label {
  color: $blue;
  font-size: 1.2em;
}

.required {
  display: inline-block;
  color: #9D1C20;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  font-weight: bold;
  vertical-align: top;
}

.ui-select-container:not(.ui-select-multiple) {
  padding: 0 !important;
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: $lightBlue !important;
}

@media only screen and (max-width: 768px) {
  .homepageTile {
    height: auto;
  }

  .homePageTileIcon {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
  }
}

.noViolations {
  font-style: italic;
}

.italic {
  font-style: italic;
}

.selectableRow {
  cursor: pointer;
}

.selectedRow {
  background-color: $grey;
}

.navbar-brand {
  padding: 5px !important;
  height: 85px;
}

.navbar-default .navbar-nav > li > a {
  color: $grey;
  font-size: 1.2em;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $blue;
}

.navbar-header {
  margin-right: 20px !important;
}

table {
  thead {
    background-color: $blue;

    th {
      color: $lightGrey;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

.modal-header {
  background-color: $blue;

  .modal-title {
    color: $lightGrey;
  }
}

.Question{
  font-size: 1.5em;
  color: $blue;
}

.Answer{
  font-size: 1.2em;
  color: $grey;
}

@media print {
  .no-print, .no-print *
  {
    display: none !important;
  }

  #citationInfoPage h2 {
    margin-top: 0;
  }

  #citationInfoPage .well {
    margin-top: 10px;
  }
}
