<app-court-title-header headerText="Community Service Options"></app-court-title-header>

<div id="content" fxLayout="column">
  <p>
    Maybe you have a ticket but can’t afford the fines and fees. Spending time doing community service can be an alternative to paying for some violations, as long as the judge agrees.
  </p>
  <p>
    If the judge agrees to a community service option in lieu of fines, it will be your responsibility to contact the Community Service agency, arrange for the community service time and date with them, and then bring back proof of your service to the judge.
  </p>
  <p>
    A good way to find community service options is to visit <a href="https://www.stlvolunteer.org/" target="_blank">https://www.stlvolunteer.org/</a>. Another way is to ask the court clerk for options. Note that community service MUST be completed in conjunction with a nonprofit organization.
  </p>
</div>
