<app-court-title-header headerText="About YourSTLCourts"></app-court-title-header>

<div id="contents" fxLayout="column">
  <p>
    YourSTLCourts is the St. Louis region’s only free, web and mobile tool that puts your rights and your case records right at your fingertips. Use your phone or computer to access your court date and location, payment and community service options, and legal rights. Then, sign up to receive reminders of your court date via text message, by texting “ticket” to {{phoneNumber$ | async}}. Standard SMS rates apply.
  </p>
  <p>
    With a focus on using technology to increase accessibility, YourSTLCourts is incrementally improving how citizens interact with the municipal court system. Our partners have been diligently coding, advocating and building relationships in order to decrease traffic-related incarcerations through a pre-trial, technology-based-solution known as YourSTLCourts.
  </p>
  <p>
    YourSTLCourts was started by the <a href="http://macfound.org" target="_blank">John D. and Catherine T. MacArthur Foundation</a> <a href="https://www.livingcities.org/work/civic-tech-and-data-collaborative" target="_blank">Civic Tech and Data Collaborative</a> grant, awarded and prototyped in <a href="http://globalhack.org/" target="_blank">GlobalHack's</a> first civic hackathon in 2015, and funded in part by the John D. and Catherine T. MacArthur Foundation's Safety and Justice Challenge Grant in 2016. The grant is managed by <a href="http://risestl.org/" target="_blank">Rise Community Development</a> in partnership with <a href="http://stlouisco.com/" target="_blank">St. Louis County</a> and <a href="http://www.civtechstl.com/" target="_blank">CivTech St. Louis</a>.
  </p>
  <p>
    It is only possible to find open municipal case information in YourSTLCourts by those courts that have elected to provide such data. Not all courts may participate.
  </p>
  <p>
    Click <a href="mailto:{{contactEmail}}">here</a> to contact us.
  </p>
</div>

