<app-court-title-header headerText="Going To Court"></app-court-title-header>

<div id="content" fxLayout="column">
  <p>
    The following are guidelines for going to court. These are not court-specific, and rules for attendance may vary from court to court.
  </p>

  <h2>Legal Advice</h2>
  <p>
    While not required, it can be helpful to have an attorney represent you in court. There are several options for pro bono or discounted services to be found here: <a href="http://missourilawyershelp.org/find-lawyer/discounted-pro-bono-services/">http://missourilawyershelp.org/find-lawyer/discounted-pro-bono-services/</a>
  </p>

  <h2>Court Fees & Fines</h2>
  <p>
    In addition to the fine associated with your violation, cases may incur additional court fees. These vary by court based on the municipality's legal ordinances.
  </p>

  <h2>Dress Code</h2>
  <p>
    Appropriate clothing should be worn when going to court, though some courts do not require a strict dress code.
  </p>

  <h2>Do's & Don'ts</h2>
  <h3>Electronic Devices</h3>
  <p>
    Cell phones, tablets, pagers, and any hand-held electronic devices brought into court with you should be turned to silent while you are inside the courtroom.
  </p>
  <h3>Smoking and Vaporizers</h3>
  <p>
    Smoking and the use of electronic vaporizers is prohibited inside court.
  </p>
</div>
