<app-court-title-header headerText="Privacy Policy"></app-court-title-header>

<div id="content" fxLayout="column">
  <p>
    Information and data are provided "as is" without warranty of any kind, and may be subject to errors or omissions. All information available on this website are open records and deemed public under Missouri law. Information from all courts may not be available on this website. Your use of this website is at your own risk. In no event shall the court or any other entity or service provider associated with this website be liable for any damages whatsoever relating to accuracy of information or in any way to your use of this website.
  </p>
</div>
