/*
a generator to use: http://mcg.mbitson.com/#!?mcgpalette0=%23e80000&themename=mcgtheme
https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1

*/

$mat-stlcourts-blue: (
  50 : #ecf4fa,
  100 : #cfe3f2,
  200 : #b0d0ea,
  300 : #90bde2,
  400 : #78aedb,
  500 : #60a0d5,
  600 : #5898d0,
  700 : #4e8eca,
  800 : #4484c4,
  900 : #3373ba,
  A100 : #ffffff,
  A200 : #cfe5ff,
  A400 : #9cc9ff,
  A700 : #82bbff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-stlcourts-magenta: (
  50 : #f2e6f2,
  100 : #dec0de,
  200 : #c896c8,
  300 : #b26bb2,
  400 : #a24ca2,
  500 : #912c91,
  600 : #892789,
  700 : #7e217e,
  800 : #741b74,
  900 : #621062,
  A100 : #ff98ff,
  A200 : #ff65ff,
  A400 : #ff32ff,
  A700 : #ff19ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);


$mat-stlcourts-green: (
  50 : #f8fae0,
  100 : #edf3b3,
  200 : #e2eb80,
  300 : #d6e24d,
  400 : #cddc26,
  500 : #c4d600,
  600 : #bed100,
  700 : #b6cc00,
  800 : #afc600,
  900 : #a2bc00,
  A100 : #fbffe5,
  A200 : #f2ffb2,
  A400 : #eaff7f,
  A700 : #e6ff65,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-stlcourts-red: (
  50 : #fce0e0,
  100 : #f8b3b3,
  200 : #f48080,
  300 : #ef4d4d,
  400 : #eb2626,
  500 : #e80000,
  600 : #e50000,
  700 : #e20000,
  800 : #de0000,
  900 : #d80000,
  A100 : #ffffff,
  A200 : #ffcdcd,
  A400 : #ff9a9a,
  A700 : #ff8080,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
  )
);

