html {
  height: 100%;
  //min-height: 100%;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  // position: relative;
  margin:0px;
  height: 100%;
 // height: 100vh;
  font-size:16px;
  display: flex;
  flex-direction: column;
}
/*
app-root {
 // height:100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
*/
.fill-remaining-space {
  /* This fills the remaining sp  ace, by using flexbox. */
  flex: 1 1 auto;
}



// router-outlet + * { flex: 1 1 auto ; display: flex ; flex-direction: column ; }
/*

app-home{
  flex: 1 1 auto;
  background-color: red;
  flex-direction: column;
  display: flex;
}

.flexContainer {
  display: flex;
  min-height:100%;
  background-color: red;
}

*/

.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}
