@import './_sizes';

html {
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  font-family: $stl-font-family;
  *:not(mat-icon) {
    font-family: $stl-font-family !important;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  margin:0px;
  height: 100%;
  font-size:16px;
  display: flex;
  flex-direction: column;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. */
  flex: 1 1 auto;
}

/*
 * Make the Component injected by Router Outlet full height:
 */
router-outlet + * { flex: 1; display: flex; flex-direction: column }


// findCourts Page
.muniAutoCompleteGroups {
  label {
    font-weight: bold;
    color: black;
    font-size: $fontSizeNormal;
    line-height: 30px;
    height: 30px;

    &:empty {
      display: none;
    }

    &:empty ~ mat-option {
      padding-left: 16px !important;
    }
  }

  mat-option {
    line-height: 30px;
    height: 30px;

    .muniAutoCompleteMuniName {
      color: black;
      font-size: $fontSizeNormal;
    }
    .muniAutoCompleteCourtName {
      font-size: $fontSizeSmall;
      color: grey;
    }
  }
}

// the following helps mat-error messages to not overlap other fields
// see: https://github.com/angular/material2/issues/4580
mat-form-field .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
    // for Angular 6.0 remove lines above and add position: static;
  }
  &-subscript-wrapper {
    position: static;
  }
}

