<div  id="findCourtsPageTitle" class="bkcolor-primary" fxLayoutAlign="center">
  <div id="findCourtsPageBackground"></div>
  <span>Find Your Court</span>
</div>

<div  id="findCourtsPage" fxFlex="1" fxLayout="column" class="">
  <!-- <div id="findCourtsPageBackground"></div> -->
  <div fxFlex=".3 1 100%"></div>
  <form fxFlex>
    <mat-form-field>
      <input id="selectCourtInput" matInput placeholder="Find municipal court information..." [formControl]="courtCtrl" [matAutocomplete]="auto" color="warn">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCourtSelected($event)" [displayWith]="getAutoCompleteDisplay">
        <mat-optgroup *ngFor="let muniGroup of muniSearchGroups" [class.muniAutoCompleteGroups]="true" [label]="getGroupLabel(muniGroup)">
          <mat-option *ngFor="let court of muniGroup.courts" [value]="court">
            <span class="muniAutoCompleteMuniName">{{ muniGroup.municipalityName }} </span>
            <span class="muniAutoCompleteCourtName">({{court.name }})</span>
          </mat-option>
        </mat-optgroup>
    <!--    <mat-option *ngFor="let searchGroup of citySearchGroups" [value]="searchGroup.court.name">
          <span>{{ searchGroup.municipalityName }} ({{searchGroup.court.name }})</span>
        </mat-option> -->
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
