<div  id="findCourtsPageTitle" fxLayoutAlign="center">
  <span class="primary">Find Your Court</span>
</div>

<div  id="findCourtsPage" fxFlex="1" fxLayout="column" class="bkcolor-primary">
  <div id="findCourtsPageBackground"></div>
  <div fxFlex=".3 1 100%"></div>
  <form fxFlex>
    <mat-form-field>
      <input id="selectCourtInput" matInput [placeholder]="courtSelectorPlaceholder" [formControl]="courtCtrl" [matAutocomplete]="auto" color="warn">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCourtSelected($event)">
        <mat-option *ngFor="let court of courts" [value]="court.name">
          <span>{{ court.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
