<app-citation-title-header headerText="Ticket Results" useBackground="true"></app-citation-title-header>
<mat-chip id="greaterThanOnePerson" *ngIf="groupedCitations.length > 1" fxLayoutAlign="center">
  <mat-error>Ticket results may be shown for multiple people</mat-error>
</mat-chip>
<div class="citationTable" *ngFor="let citationGroup of groupedCitations" fxLayout="column">
  <h2>{{citationGroup[0].first_name}} {{citationGroup[0].last_name}}</h2>
  <mat-table fxHide.lt-md [dataSource]="citationGroup">
    <ng-container cdkColumnDef="view">
      <mat-header-cell *cdkHeaderCellDef fxFlex="125px"></mat-header-cell>
      <mat-cell *cdkCellDef="let citation" fxFlex="125px" fxLayout="column" fxLayoutAlign="center">
        <button mat-raised-button color="accent" (click)="selectCitation(citation)">View</button>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="ticketNum">
      <mat-header-cell *cdkHeaderCellDef fxFlex="100px">Ticket #</mat-header-cell>
      <mat-cell *cdkCellDef="let citation" fxFlex="100px" fxLayout="column" fxLayoutAlign="center"> {{citation.citation_number}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef fxFlex="250px">Name</mat-header-cell>
      <mat-cell *cdkCellDef="let citation" fxFlex="250px" fxLayout="column" fxLayoutAlign="center">{{citation.first_name}} {{citation.last_name}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="courtDate">
      <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Court Date</mat-header-cell>
      <mat-cell *cdkCellDef="let citation" fxFlex="150px" fxLayout="column" fxLayoutAlign="center"> {{citation.court_dateTime | date:"MM/dd/yyyy"}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="courtLocation">
      <mat-header-cell *cdkHeaderCellDef>Court Location</mat-header-cell>
      <mat-cell *cdkCellDef="let citation" fxLayout="column" fxLayoutAlign="center"> {{citationCourtLocations[citation.court_id]}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="violations">
      <mat-header-cell *cdkHeaderCellDef>Violations</mat-header-cell>
      <mat-cell *cdkCellDef="let citation" fxLayout="row" fxLayoutAlign="start center">
        <span *ngIf="citation.violations.length > 0">
          <span *ngFor="let violation of citation.violations; let i = index;">
            <span>{{violation.violation_description}}</span>
            <span *ngIf="i < citation.violations.length - 1">, </span>
          </span>
        </span>
        <span *ngIf="citation.violations.length === 0">
          Violation data unavailable. Please contact your court.
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let citation; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-card fxHide.gt-sm fxLayout="column" fxLayoutGap="1.5em" *ngFor="let citation of citationGroup">
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="50">
        <span>Ticket #</span><span>{{citation.citation_number}}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end" fxFlex="50">
        <button mat-raised-button color="accent" (click)="selectCitation(citation)"> view this ticket</button>
      </div>
    </div>

    <div fxLayout="column">
      <span>Name</span><span>{{citation.first_name}} {{citation.last_name}}</span>
    </div>

    <div fxLayout="column">
      <span>Court Date</span><span>{{citation.court_dateTime | date:"MM/dd/yyyy"}}</span>
    </div>

    <div fxLayout="column">
      <span>Court Location</span><span>{{citationCourtLocations[citation.court_id]}}</span>
    </div>

    <div fxLayout="column">
      <span>Violations</span>
      <span *ngFor="let violation of citation.violations">{{violation.violation_description}}</span>
    </div>
  </mat-card>

  <div id="citationDisplay">
    <div *ngIf="selectedCitation" fxLayout="column" fxLayoutGap.gt-sm="2em">
      <div fxLayout.lt-md="column" fxLayoutGap.gt-sm="2em">
        <div id="personInfo" fxLayout="column" fxFlex.gt-sm="1 1 50">
          <h2>Your Information</h2>
          <mat-card fxLayout="column" fxFlex="1 1 100%">
            <span>{{selectedCitation.first_name}} {{selectedCitation.last_name}}</span>
            <address fxLayout="column">
              <span>{{selectedCitation.defendant_address}}</span>
              <span>{{selectedCitation.defendant_city}}, {{selectedCitation.defendant_state}}</span>
            </address>
            <span>DOB: {{selectedCitation.date_of_birth | date:"MM/dd/yyyy"}}</span>
            <span>Driver's License #: {{selectedCitation.drivers_license_number}} - {{selectedCitation.drivers_license_state}}</span>
          </mat-card>
        </div>
        <div id="citationInfo" fxLayout="column" fxFlex.gt-sm="1 1 50">
          <h2>Ticket Information</h2>
          <mat-card fxLayout="column" fxFlex="1 1 100%">
            <span fxLayout="row"><strong fxFlex="125px">Case Number</strong><span fxFlex>{{selectedCitation.citation_number}}</span></span>
            <span fxLayout="row"><strong fxFlex="125px">Ticket Date</strong><span fxFlex>{{selectedCitation.citation_date | date:"MM/dd/yyyy"}}</span></span>
            <span fxLayout="row"><strong fxFlex="125px">Total Fine</strong><span fxFlex>${{selectedCitation.getTotal()}}</span></span>
            <span fxLayout="row"><strong fxFlex="125px">Violations</strong>
              <ul>
                <li *ngFor="let violation of selectedCitation.violations" fxLayout="column">
                  {{violation.violation_description}}
                </li>
              </ul>
            </span>
          </mat-card>
        </div>
      </div>
      <div fxLayout.lt-md="column" fxLayoutGap.gt-sm="2em">
        <div id="courtInfo" fxLayout="column" fxFlex.gt-sm="50">
          <h2>Court Information</h2>
          <mat-card fxLayout="column" fxFlexFill>

          </mat-card>
        </div>
        <div id="otherInfo" fxLayout="column" fxFlex.gt-sm="50">
          <h2>I Want To...</h2>
          <mat-card fxLayout="column" fxFlexFill>

          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

