@import '../../styles/_colors';
@import '../../styles/_sizes';

#greaterThanOnePerson {
  margin: 1em 1em 0em 1em;
}

.citationTable {
  margin: 0px 1em;
}

.warrantFaqs {
  margin-top: 1em;
}

#citationDisplay {
  .regularMargins {
    margin-left: 1em;
    margin-right: 1em;
  }
  .mobileMargins {
    margin-left: .5em;
    margin-right: .5em;
  }
  #citationInfo ul {
    list-style-type: none;
  }
}

mat-card {
  background-color: $citationMobileMatCardColor;
  margin-bottom: 1em;
  ul {
    margin: 0px;
    padding: 0px;
  }
}

mat-table {
  mat-header-row {
    background-color: $primary;
    mat-header-cell {
      font-size: $fontSizeMedium;
      font-weight: bold;
      color: white;
      border-right: 1px solid $tableHeaderBorderColor;
      border-bottom: 1px solid $tableHeaderBorderColor;
      align-self: stretch;
      padding: 5px;
      &:first-child {
        border-left: 1px solid $tableHeaderBorderColor;
      }
    }
  }

  mat-header-row,
  mat-row {
    padding: 0px;
  }

  mat-row:nth-child(even) {
    background-color: $tableEvenRowColor;
  }

  mat-row:nth-child(odd) {
    background-color: $tableOddRowColor;
  }

  mat-cell {
    &:first-child {
      border-left: 1px solid $tableBorderColor;
    }
    border-right: 1px solid $tableBorderColor;
    border-bottom: 1px solid $tableBorderColor;
    -webkit-align-self: center; /* Safari 7.0+ */
    align-self: stretch;
    padding: 5px;
  }
}

