<div class="container">
  <div class="well" style="margin-top:20px">
    <h1 style="margin:0">About YourSTLCourts</h1>
  </div>
  <div class="well" style="margin-top:20px">
  <p class="about-page-margin">YourSTLCourts.com is your one-stop shop for the municipal courts of St. Louis County. YourSTLCourts is a common space that connects you to
    information on your rights in court, municipal court locations, operating hours, procedures, fine schedules, and frequently asked questions.
    YourSTLCourts ensures that no matter where a citizen may receive a ticket, they are receiving the information they need to engage the courts
    fairly and justly.</p>
  <p class="about-page-margin">With the Ticket Finder tool, YourSTLCourts also allows you to look up a ticket by your ticket number, driver’s license info, or by the location
    where you received the ticket, all while protecting your privacy. It provides you with payment options including online payment or, if you qualify,
    community service options.</p>
  <p>YourSTLCourts is a project of CivTech St. Louis, and is made possible by the support of the
    <a href="http://macfound.org">John D. and Catherine T. MacArthur Foundation</a>,
    <a href="http://livingcities.org/">Living Cities</a>,
    <a href="http://codeforamerica.org/">Code for America</a>,
    the <a href="http://neighborhoodindicators.org/">National Neighborhood Indicators Partnership</a>,
    and local partners
    <a href="http://risestl.org/">Rise Community Development</a>,
    <a href="http://opendatastl.org/">Open Data STL</a>,
    and <a href="http://stlouisco.com/">St. Louis County</a>.
    A prototype of this website was developed in September 2015 by participants of
    <a href="http://globalhack.org/">GlobalHack</a>. Informational components of this website
    were developed by students of <a href="http://www.handsupunited.org/techimpact/">Hands Up United’s Tech Institute</a>.</p>
  </div>
</div>
