<div class="sub-page-title-block">
  <h1>Security Screen</h1>
</div>
<div class="sub-page-container">
  <h2 class="text-center">As a security precaution, please enter your date of birth to view your ticket.</h2>
  <div class="container-fluid topMargin alignContainerToPage">
    <div class="row alignRowToPage">
      <div class="col-sm-12 alignColumnsToPageToPage">
        <div class="payment-options-date-picker">
          <stl-courts-datepicker ok-button-id="viewTicketButton" iso-date-string="ctrl.dob" date-valid="ctrl.dobValid" date-over-18="ctrl.dobOver18" date-format="MM/DD/YYYY"></stl-courts-datepicker>
          <div class="text-center">
            <button id="viewTicketButton" type="button" class="btn btn-default" ng-click="ctrl.viewCitation()">View Ticket</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
