<div class="sub-page-title-block">
  <h1>Community Service Options</h1>
</div>
<div class="sub-page-container">
  <p>
    Maybe you have a ticket but can’t afford the fines and fees. Spending time doing community service can be an alternative to paying for some traffic violations, as long as the judge agrees.
  </p>
  <p>
    If, when you see the judge, he/she agrees to a community service option in lieu of fines, it will be your responsibility to contact the Community Service agency, arrange for the community service time and date with them, and then bring back proof of your service to the judge.
  </p>

  <!--  possibly add back later
  <p>
    Search for an activity that makes sense for you by visiting the link for <a href="https://www.stlvolunteer.org/search?page=1&sort_c=0&sort_o=asc&opportunity_id=" target="_blank">Community Service Options</a>. Search through the entire list or narrow your search by keyword, schedule or location. Once a service activity is chosen, you need to register for the activity and tell the court.
  </p>
  <ol class="parenthesis-list">
    <li>Select "Express Interest" on the <a href="https://www.stlvolunteer.org/search?page=1&sort_c=0&sort_o=asc&opportunity_id=" target="_blank">United Way's Volunteer Center</a> site.</li>
    <li>Create an account. This way, you can access and print your record of hours and verification of completion at any time.</li>
    <li>Choose a service activity and wait for the organization to contact you to schedule the activity.</li>
    <li>Appear in court. Inform the judge of your interest in community service in lieu of payment and come to an agreement regarding the activity, number of hours and timeframe.</li>
    <li>Do the community service and get a verification from your mentor, including the number of hours served.</li>
    <li>Finally, once completed, provide the verification from your mentor to the court clerk, which can be done at any time. The clerk will present the verification to the judge who will determine if the service is satisfactory. If it is, your case will be cleared. If not, the clerk will contact you to schedule another court date.</li>
  </ol>
  <p>
    Follow these six simple steps to complete community service as an alternative to paying fines and fees.
  </p>
  -->
</div>
