<div class="container" id="courtSearchInfoPage">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ctrl.courtName}} Court Information</h2>
        <div class="row" style="margin-top: 20px;">
          <div class="col-sm-6">
            <h3>Court Address</h3>
            <p class="address1">{{ctrl.courtInfo.address}}</p>
            <p class="address2">{{ctrl.courtInfo.city}}, {{ctrl.courtInfo.state}} {{ctrl.courtInfo.zip_code}}</p>

            <div ng-if="ctrl.courtPhone != '' ">
              <h3>Court Phone Number</h3>
              <p>{{ctrl.courtPhone}} <span ng-if="ctrl.phoneExtension != ''"> x{{ctrl.phoneExtension}}</span></p> <!-- Maybe we need to format the numbers -->
            </div>

            <div ng-if="ctrl.courtWebsite != '' ">
              <h3>Website</h3>
              <p ng-bind-html="ctrl.courtWebsite | linky"></p>
            </div>

          </div>
          <div class="col-sm-6">
            <leaflet id="mapid" lf-center="ctrl.courtOnMap" markers="ctrl.courtMarkers"></leaflet>
            <p id="courtSearch-direction-button">
              <a href="{{ctrl.courtDirectionLink}}" class="btn btn-success no-print" target="_blank">GET DIRECTIONS</a>
            </p>
          </div>
        </div>
    </div>
  </div>
  <div id="printButton">
    <button type="button" class="btn btn-success btn-lg no-print" ng-click="ctrl.printCourtInfo()"><i class="fa fa-print"></i>&nbsp;PRINT INFO</button>
  </div>
</div>
