<div class="sub-page-title-block">
  <h1>{{ctrl.courtName}} {{ctrl.courtType}} Information</h1>
</div>
<div class="sub-page-container" id="courtSearchInfoPage">
  <div class="container-fluid topMargin alignContainerToPage">
   <div class="row alignRowToPage">
      <div class="col-sm-6 alignColumnsToPageToPage">
        <h2 class="no-indent">Court Address</h2>
        <p class="address no-indent">{{ctrl.courtInfo.address}}</p>
        <p class="address no-indent">{{ctrl.courtInfo.city}}, {{ctrl.courtInfo.state}} {{ctrl.courtInfo.zip}}</p>

        <div class="topMargin" ng-if="ctrl.courtPhone">
          <h2 class="no-indent">Court Phone Number</h2>
          <p class="phone-number no-indent">{{ctrl.courtPhone}} <span ng-if="ctrl.phoneExtension"> x{{ctrl.phoneExtension}}</span></p> <!-- Maybe we need to format the numbers -->
       </div>

        <div class="topMargin bottomMargin" ng-if="ctrl.courtWebsite">
          <h2 class="no-indent">Website</h2>
          <p class="website no-indent" ng-bind-html="ctrl.courtWebsite | linky"></p>
        </div>
      </div>
      <div class="col-sm-6 alignColumnsToPageToPage">
        <leaflet id="mapid" lf-center="ctrl.courtOnMap" markers="ctrl.courtMarkers"></leaflet>
        <div id="courtSearch-direction-button" class="center-block">
          <a href="{{ctrl.courtDirectionLink}}" class="btn btn-default btn-lg no-print" target="_blank">GET DIRECTIONS</a>
        </div>
      </div>
   </div>
   <div id="map-print-row" class="row alignRowToPage">
      <div class="col-sm-6 alignColumnsToPageToPage">
        <div id="printButton" class="center-block">
          <button type="button" class="btn btn-scheme-primary btn-lg no-print" ng-click="ctrl.printCourtInfo()"><i class="fa fa-print"></i>&nbsp;PRINT INFO</button>
        </div>
      </div>
    </div>
  </div>
</div>
