<div class="faq-answer-box-container">
  <div class="faq-answer-front showFront">
    <div class="faq-answer-box-question" ng-bind-html="'Q: '+ctrl.question"></div>
    <br>
    <div class="faq-answer-box-answer" ng-bind-html="'A: '+ctrl.autolinker.link(ctrl.answer)"></div>
  </div>
  <div class="faq-answer-back hideBack">
    <a><button id="faq-answer-box-close-button" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
    <div class="faq-answer-box-question" ng-bind-html="'Q: '+ctrl.question"></div>
    <br>
    <div class="faq-answer-box-answer" ng-bind-html="'A: '+ctrl.autolinker.link(ctrl.answer)"></div>
  </div>
</div>
