<a class="anchor" name="{{ctrl.faqName}}"></a>
<h2 class="topMargin" ng-if="ctrl.noTitle != 'true'">{{ctrl.groupTitle}}</h2>

<div class="row" ng-repeat="item in ctrl.sourceData[ctrl.arrayName] track by $index" ng-if="$index % 2 == 0">
  <div class="row-eq-height" ng-class="{indentThis: ctrl.noTitle != 'true',topMargin: ctrl.addTopMargin($index)}">
    <div class="col-sm-6"
         ng-repeat="i in [$index, $index + 1] | filter:ctrl.keywordFilter"
         ng-if="ctrl.sourceData[ctrl.arrayName][i] != null">
        <faq-question-box no-title="{{ctrl.noTitle}}"
                  question="ctrl.sourceData[ctrl.arrayName][i].q"
                  answer="ctrl.sourceData[ctrl.arrayName][i].a"></faq-question-box>
    </div>
  </div>
</div>
