<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div id="footer-body">
        <div class="row">
          <div class="col-xs-6 col-sm-8">
            <ul class="footerMenu" style="text-align: left;">
                <li class="hidden-xs"><a ui-sref="home">Home</a></li>
                <li class="hidden-xs"><a ui-sref="info">Info</a></li>
                <li class="hidden-xs"><a ui-sref="help">Help</a></li>
              <li class="hidden-xs"><a ui-sref="about">About</a></li>
            <li><a ui-sref="legal">Legal Info</a></li>
            <li><a ui-sref="privacy">Privacy Policy</a></li>
          </ul>
          </div>
          <div class="col-xs-6 col-sm-4" style="text-align: right;">&copy; 2016 CivTech St. Louis
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
