<div class="sub-page-title-block">
  <h1>Going To Court</h1>
</div>
<div class="sub-page-container">
  <ul class="list-inline page-anchor-menu">
    <li><a href="/goingToCourt#dressCode" ng-click="ctrl.scrollTo('dressCode')">Dress Code</a></li>
    <li><a href="/goingToCourt#dosDonts" ng-click="ctrl.scrollTo('dosDonts')">Do's & Don'ts</a></li>
    <li><a href="/goingToCourt#fees" ng-click="ctrl.scrollTo('fees')">Court Fees & Fines</a></li>
    <li><a href="/">Find Your Ticket</a></li>
  </ul>
  <p>
    The following are guidelines for going to court. These are not court-specific, and rules for attendance are likely vary from court to court, however they are intended to be general best practices for going to court.
  </p>
  <div class="dress_code">
    <a class="anchor" id="dressCode" name="dressCode"></a>
    <h2>Dress Code</h2>
    <p>
      Appropriate clothing should be worn when going to court, though some courts do not require a strict dress code.
    </p>
  </div>

  <div class="dos_and_donts">
    <a class="anchor" id="dosDonts" name="dosDonts"></a>
    <h2>Do's & Don'ts</h2>
    <h3>Electronic Devices</h3>
    <p>
      Cell phones, tablets, pagers, hand-held gaming devices and other electronic devices brought into court with you should be turned to silent while you are inside the courtroom.
    </p>
    <h3>Smoking and Vaporizers</h3>
    <p>
      Smoking and the use of electronic nicotine vaporizers is prohibited inside court.
    </p>
  </div>
</div>
</div>
