<div class="sub-page-title-block">
  <h1>Going To Court</h1>
</div>
<div class="sub-page-container">
  <ul class="list-inline page-anchor-menu">
    <li><a href="/goingToCourt#dressCode" ng-click="ctrl.scrollTo('dressCode')">Dress Code</a></li>
    <li><a href="/goingToCourt#dosDonts" ng-click="ctrl.scrollTo('dosDonts')">Do's & Don'ts</a></li>
    <li><a href="/goingToCourt#fees" ng-click="ctrl.scrollTo('fees')">Court Fees & Fines</a></li>
    <li><a href="/">Find Your Ticket</a></li>
  </ul>
  <p>
    The following are guidelines for going to court. These are not court-specific, and rules for attendance are likely vary from court to court, however they are intended to be general best practices for going to court.
  </p>
  <div class="dress_code">
    <a class="anchor" id="dressCode" name="dressCode"></a>
    <h2>Dress Code</h2>
    <p>
      Appropriate clothing should be work when going to court. While many courts will not require a strict dress code, it is better to avoid any potential dress code violations when possible.
    </p>
    <p>
      Clothing which should be avoided, when possible, includes halter tops, t-shirts, shorts, baggy pants, or other clothes which could be deemed professionally inappropriate clothing.
    </p>
  </div>

  <div class="dos_and_donts">
    <a class="anchor" id="dosDonts" name="dosDonts"></a>
    <h2>Do's & Don'ts</h2>
    <h3>Addressing The Court</h3>
    <p>
      When addressing the court or anyone working in the court system, please be respectful, clear and concise in your speech and avoid the use of anything that could make you more difficult to understand. This could include chewing gum, chewing tobacco or visual mouth enhancements that could be removed (such as a grill / fronts / golds).
    </p>
    <h3>Electronic Devices</h3>
    <p>
      Cell phones, tablets, pagers, hand-held gaming devices and other electronic devices brought into court with you should be turned to silent or powered off completely while you are inside the courtroom.
    </p>
    <h3>Smoking and Nicotine Consumption</h3>
    <p>
      Smoking and the use of electronic nicotine vaporizers should not be consumed in the court building or within a short distance of the doors. While many courts will have areas marked off, it is best to err on the side of caution and be away from the doors or back to your car if you wish to smoke or vape.
    </p>
  </div>
  <div class ="fees">
    <a class="anchor" id="fees" name="fees"></a>
    <h2>Court Fees & Fines</h2>
    <p>
      In addition to the fine associated with your violation, cases may incur additional court fees. These fees pay for basic court costs as well as other programs and surcharges, such as: Crime Victim Compensation, Law Enforcement Training, Peace Officer Training, Biometric Verification System, Domestic Violence Shelter and others.
    </p>
    <h3>Offenses which may carry a separate and compounding fine</h3>
    <p>
      The offenses below are examples of citations which may carry a separate and compounding fine. Ultimately, a judge will determine the cost of each fine on an individual basis even though some courts may have standard fines and fees for various offenses. If you have:
    </p>
    <ul class="indent-only">
      <br>
      <li>
        <table id="court-fines">
          <tr>
            <th>Offense</th>
          </tr>
          <tr>
            <td>Corner Cutting to Avoid Signal</td>
          </tr>
          <tr>
            <td>Driving On Closed Road</td>
          </tr>
          <tr>
            <td>Driving Over Curb</td>
          </tr>
          <tr>
            <td>Driving Wrong Side of Road</td>
          </tr>
          <tr>
            <td>Driving Wrong Way (One Way Street)</td>
          </tr>
          <tr>
            <td>Blocking Driveway or Alley</td>
          </tr>
          <tr>
            <td>Expired License Plates (Tags)</td>
          </tr>
          <tr>
            <td>Failure to Secure a Load</td>
          </tr>
          <tr>
            <td>Fake Temporary Tags</td>
          </tr>
          <tr>
            <td>Fictitious License Tabs</td>
          </tr>
          <tr>
            <td>Improper Exhaust or Muffler</td>
          </tr>
          <tr>
            <td>Improper Registration (Failure to Register)</td>
          </tr>
          <tr>
            <td>License Plate not Illuminated</td>
          </tr>
          <tr>
            <td>No Brake Lights</td>
          </tr>
          <tr>
            <td>No Headlight</td>
          </tr>
          <tr>
            <td>No Inspection Sticker</td>
          </tr>
          <tr>
            <td>No License Plates</td>
          </tr>
          <tr>
            <td>No Motorcycle Helmet</td>
          </tr>
          <tr>
            <td>No Taillights</td>
          </tr>
          <tr>
            <td>Child Restraint Seat Violation*</td>
          </tr>
          <tr>
            <td>Failure to Keep to the Right</td>
          </tr>
          <tr>
            <td>Failure to Obey Electric Signal</td>
          </tr>
          <tr>
            <td>Failure to Obey Stop Sign</td>
          </tr>
          <tr>
            <td>Failure to Sound Horn</td>
          </tr>
          <tr>
            <td>Failure to Yield</td>
          </tr>
          <tr>
            <td>Failure to Yield to Emergency Vehicles</td>
          </tr>
          <tr>
            <td>Following too Closely</td>
          </tr>
          <tr>
            <td>Impeding/Obstructing Traffic Movement</td>
          </tr>
          <tr>
            <td>Improper Backing</td>
          </tr>
          <tr>
            <td>Improper Lane Usage</td>
          </tr>
          <tr>
            <td>Improper Passing</td>
          </tr>
          <tr>
            <td>Improper/Prohibited Turn</td>
          </tr>
          <tr>
            <td>No Through Traffic</td>
          </tr>
          <tr>
            <td>Prohibited U-Turn</td>
          </tr>
          <tr>
            <td>Traffic Turn Signal Violation</td>
          </tr>
        </table>
        <p>*typically waived if child restraint is purchased before court date</p>
      </li>
    </ul>
  </div>
</div>
</div>
