<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderCtrl as ctrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">
        <img src="images/communisee.png" style="height: 75px;" />
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li ng-if="!ctrl.isAuthenticated()"><a ui-sref="sponsorLogin">Sponsor Login</a></li>
        <li ng-if="ctrl.isAuthenticated()"><a ui-sref="sponsorMgmt">Manage Opportunities</a></li>
      </ul>
      <div class="secondaryAccent" style="position: relative; float: right; font-size: 1.2em; padding-top: 10px;" ng-if="ctrl.isAuthenticated()">
        Logged in as: {{ctrl.getAuthenticatedSponsor().name}}&nbsp;&nbsp;<button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.logout()">Logout</button>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
