<nav class="navbar navbar-default nav-bar-menu-closeable">
  <div class="container-fluid alignContainerToPage">
    <div class="row alignRowToPage">
      <div class="col-sm-12 alignColumnsToPage">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">
            <img src="images/ystlc-logo.png"/>
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home">Find Your Ticket</a></li>
            <li><a ui-sref="info">Your Legal Rights</a></li>
            <li><a ui-sref="communityService">Community Service</a></li>
            <li><a ui-sref="help">Resources</a></li>
            <li class="visible-xs-* hidden-sm hidden-md hidden-lg"><a ui-sref="about">About</a></li>
          </ul>
          <div class="primary" style="position: relative; float: right; font-size: 1.2em; padding-top: 10px;" ng-if="ctrl.isAuthenticated()">
            Logged in as: {{ctrl.getAuthenticatedSponsor().name}}&nbsp;&nbsp;<button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
