<div class="sub-page-title-block">
  <h1>Help</h1>
</div>
<div class="sub-page-container">
    <ul class="list-inline page-anchor-menu">
      <li><a href="/help#tickets">Tickets</a></li>
      <li><a href="/help#courts">Courts</a></li>
      <li><a href="/help#legalHelp">Legal Help</a></li>
      <li><a href="/help#paymentHelp">Payment Help</a></li>
      <li><a href="/help#resources">Resources</a></li>
    </ul>

    <qa-group group-title="Tickets" array-name="ticket-qa" source-data="ctrl.qaData"></qa-group>
    <qa-group group-title="Courts" array-name="courts-qa" source-data="ctrl.qaData"></qa-group>
    <qa-group group-title="Legal Help" array-name="legal-qa" source-data="ctrl.qaData"></qa-group>
    <qa-group group-title="Payment Help" array-name="payment-qa" source-data="ctrl.qaData"></qa-group>

    <br/>
    <a class="anchor" name="resources"></a>
    <h2>Resources</h2>
    <p><a href = "http://www.stlouisco.com/Portals/8/docs/Document%20Library/municipal%20court/Ticket%20Description.pdf" target="_blank">Breakdown of a ticket</a></p>
    <p>You can also get your info by texting: (314)254-8050</p>
</div>
