<div class="sub-page-title-block">
  <h1>Resolving Traffic Fines Starts Here</h1>
</div>
<div class="sub-page-container">
    <ul class="list-inline page-anchor-menu">
      <li><a href="/help#tickets">Tickets</a></li>
      <li><a href="/help#courts">Courts</a></li>
      <li><a href="/help#legal">Legal</a></li>
      <li><a href="/help#payments">Payments</a></li>
    </ul>

    <faq-group group-title="Tickets" array-name="ticket-faq" source-data="ctrl.faqData"></faq-group>
    <faq-group group-title="Courts" array-name="courts-faq" source-data="ctrl.faqData"></faq-group>
    <faq-group group-title="Legal" array-name="legal-faq" source-data="ctrl.faqData"></faq-group>
    <faq-group group-title="Payments" array-name="payment-faq" source-data="ctrl.faqData"></faq-group>
</div>
