<div class="container">
  <div class="well" style="margin-top:20px">
    <h2>Everything you need in one place.</h2>
    <p>Use the search box below to find relevant court information.</p>
    <form ng-submit="ctrl.search()">
      <form-field required>
        <p class="input-group">
          <input class="form-control" placeholder="enter the municipality's name" show-button-bar="false" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i>Search</i>
            </button>
          </span>
        </p>
      </form-field>
    </form>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail homepageTile centered">
        <h3>Help</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sollicitudin, facilisis nibh quis, porta turpis. Vivamus mattis pellentesque diam, ut euismod lorem sodales nec. Donec pulvinar ac ligula non varius. Nullam efficitur dui accumsan consectetur. Class aptent taciti sociosqu ad torquent per conubia nostra, per inceptos.</p>
        <div class="homePageTileIcon">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail homepageTile centered">
        <h3>Tickets</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sollicitudin, facilisis nibh quis, porta turpis. Vivamus mattis pellentesque diam, ut euismod lorem sodales nec. Donec pulvinar ac ligula non varius. Nullam efficitur dui accumsan consectetur. Class aptent taciti sociosqu ad torquent per conubia nostra, per inceptos.</p>
        <div class="homePageTileIcon">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail homepageTile centered">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sollicitudin, facilisis nibh quis, porta turpis. Vivamus mattis pellentesque diam, ut euismod lorem sodales nec. Donec pulvinar ac ligula non varius. Nullam efficitur dui accumsan consectetur. Class aptent taciti sociosqu ad torquent per conubia nostra, per inceptos.</p>
      </div>
    </div>
  </div>
</div>
