<div class="container">
  <div class="well" style="margin-top:20px">
    <h2>Everything you need in one place.</h2>
      <div class="form-group">
        <form id="form" role="form">
          <div class="form-group move-down">
            <label for="Autocomplete">Find your Court</label>
            <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>
          </div>
          <!--
            <div ng-if(!null)> or something like that
              <div>result: {{result}}</div>
              You'll need to pull the court's Name, Phone Number, Address, and possibly a google map with the Address
            </div>
          -->
        </form>
      </div>
    </div>

  <div class="row row-eq-height homePageTileRow">
    <div class="col-md-4">
      <div class="thumbnail homepageTile homepageTile-withButton centered">
        <h3>Help</h3>
        <p>Whether it's court information, assistance with your case, questions related to reinstating a drivers license, or signing up for and carrying out community service to pay for your fines and fees, we can help! Search for your ticket and browse this website to learn more. If your ticket information cannot be found here, it may be that the municipality that issued the ticket is not yet participating in YourSTLCourts and you must speak directly with that court.</p>
        <div class="homepageTile-bottomButton">
          <a href="/#/help"><button class="btn btn-primary" type="button"><i></i>Get help</button></a>
        </div>
        <div class="homePageTileIcon">
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail homepageTile homepageTile-withButton centered">
        <h3>Tickets</h3>
        <p> Do you have a ticket but can't remember how much you owe, when your court date is, or whether you can pay it online? Are you trying to take care of a lost ticket or forgotten warrant? Do you need to find out who to talk to about your ticket without fear of arrest? If so, you are in the right place! YourSTLCourts can help you resolve your ticket or warrant or connect you to someone who can help. </p>
        <div class="homepageTile-bottomButton">
          <a href="/#/tickets/search"><button class="btn btn-primary" type="button"><i></i>Find your tickets</button></a>
        </div>
          <div class="homePageTileIcon">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail homepageTile  homepageTile-withButton centered">
        <h3>About</h3>
        <p>YourSTLCourts, a MacArthur Foundation-funded project, seeks to provide a unified, user-friendly municipal court case and information lookup for the St. Louis region's many courts. The fact that we have so many political jurisdictions means that it can be confusing, difficult, and expensive to figure out how to take care of business. Many municipalities recognize this and have been partners in putting this system together. If the municipality you are trying to work with isn't here, let them know that you'd like them to participate!</p>
        <div class="homepageTile-bottomButton">
          <a href="/#/about"><button class="btn btn-primary" type="button"><i></i>Learn more</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
