<div class="container">
  <div class="well" style="margin-top:20px">
    <h2>Everything you need in one place.</h2>
      <div class="form-group">
        <form id="form" role="form">
          <div class="form-group move-down">
            <label for="Autocomplete">Find your Court</label>
            <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>
          </div>
          <div>result: {{result}}</div>
        </form>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail homepageTile centered">
        <h3>Help</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sollicitudin, facilisis nibh quis, porta turpis. Vivamus mattis pellentesque diam, ut euismod lorem sodales nec. Donec pulvinar ac ligula non varius. Nullam efficitur dui accumsan consectetur. Class aptent taciti sociosqu ad torquent per conubia nostra, per inceptos.</p>
        <div class="homePageTileIcon">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail homepageTile centered">
        <h3>Tickets</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sollicitudin, facilisis nibh quis, porta turpis. Vivamus mattis pellentesque diam, ut euismod lorem sodales nec. Donec pulvinar ac ligula non varius. Nullam efficitur dui accumsan consectetur. Class aptent taciti sociosqu ad torquent per conubia nostra, per inceptos.</p>
        <div class="homePageTileIcon">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail homepageTile centered">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sollicitudin, facilisis nibh quis, porta turpis. Vivamus mattis pellentesque diam, ut euismod lorem sodales nec. Donec pulvinar ac ligula non varius. Nullam efficitur dui accumsan consectetur. Class aptent taciti sociosqu ad torquent per conubia nostra, per inceptos.</p>
      </div>
    </div>
  </div>
</div>
