<div class="container">
  <div class="well" style="margin-top:20px">
    <h2 style="margin:0">Info</h2>
  </div>
  <div class="well" style="margin-top:20px">
    <table width = "100%">
      <tr>
        <td width = "25%">
          <a href="/#/info#rights">Court Rights</a>
        </td>
        <td width = "25%">
          <a href="/#/info#dressCode">Dress Code</a>
        </td>
        <td width = "25%">
          <a href="/#/info#fees">Court Fees & Fines</a>
        </td>
        <td width = "25%">
          <a href="/#/info#contact">Contact Information</a>
        </td>
      </tr>
    </table>
    <a name="rights"></a>
    <div class="court_rights">
      <h2>Court Rights</h2>
      <p>You must first enter a plea. You may plead not guilty, guilty, or guilty with an explanation. If you plead NOT GUILTY, your case will be set for trial. You must appear on the date and at the time the trial is scheduled or a warrant will be issued for your arrest. At your trial, you should be prepared to present any evidence you believe will help you in your defense. The rules of evidence apply at your trial, which may prevent some evidence you may want to present from being admitted before the Judge.</p>
      <h3>Your Rights with a Not Guilty Plea are as follows:</h3>
      <ol class="court-procedure-list section-content">
        <li>You have a right to be informed as to the nature of the charge against you and the minimum and maximum punishment for the charge;</li>
        <li>You have the right to be represented by an attorney and an attorney may be appointed for you if you are indigent (unable to afford an attorney) AND it appears that there would possibly be a jail sentence upon conviction;</li>
        <li>You have a right to a have a trial, including a trial by jury;</li>
        <li>At trial you have the right to question any witness who may testify against you;</li>
        <li>You have the right to subpoena persons to testify on your behalf at your trial (a subpoena is an order from the court to a witness that they must appear at the trial). The court administrator can provide the subpoena forms, but you must serve them yourself upon the witness;</li>
        <li>You have the right to testify at your trial but neither the City nor anyone else can force you to testify;</li>
        <li>If you had a trial and were found guilty you have a right to appeal that decision to another court.</li>
      </ol>
      <h3>If you plead guilty, you give up all the rights listed above</h3>
      <p> By pleading Guilty, you admit that you committed the act charged, that the law prohibits the act, and that you have no defense for your act. This also relieves the City of its burden of proving a case against you. You may plead guilty for most offenses by mail or by paying your fine during court business hours.</p>
      <p>If you were involved in a traffic accident at the time of the alleged offense, your plea of guilty could be used later in a civil suit for damages as an admission by you that you were at fault or were the party responsible for the accident. You are urged not to plead guilty if you do not feel that you are guilty.</p>
      <p>In the case of a guilty plea or a finding of guilty, a fine most likely will be assessed. A plea of Guilty with an Explanation may or may not have an effect on the amount assessed. If you are unable to make a payment on the date of your court hearing, you must speak with the court clerk to make arrangements to pay or to be found indigent, which will result in community service being assessed. If you are given a new date for payment, if no payment is made and you do not appear on your court date, a warrant will be issued for your arrest and you may have your driver’s license suspended. If you are unable to pay your fine, you must still show up at your court date. You WILL NOT be arrested for failure to pay if you show up for court.</p>
      <h3>Punishment and Fines</h3>
      <p>After a plea of guilty or a finding of guilty, the court has the authority to assess court fines and/or a jail sentence. The amount assessed by the court is affected by the facts and the circumstances of the case. Mitigating circumstances may lower the fine, but aggravating circumstances may increase the fine. You have a right to know the minimum and maximum punishment for your offense at the start of your trial.</p>
  </div>
    <a name="dressCode"></a>
    <div class="dress_code">
      <h2>Dress Code</h2>
      <p>You must dress appropriately if you enter the courthouses. No halter tops, t-shirts, shorts, baggy pants, or other inappropriate clothing will be tolerated. You also must turn off all pagers and cell-phones.</p>
    </div>
    <a name="fees"></a>
    <div class ="court_fees">
      <h2>Court Fees</h2>
      <p>All cases incur a fee of $22.50-$27.50 in addition to the fine associated with the violation. This fee goes toward Basic Court Costs, Crime Victim's Compensation Surcharge, Law Enforcement Training Fund, Peace Officer's Standard Training Fund, Biometric Verification System Surcharge, and the Domestic Violence Shelter Fund. No other fees are assessed.</p>
      <table>
        <tbody>
        <tr>
          <th width = "90%">Offense</th>
          <th>Fine</th>
        </tr>
      </table>
      <div style="width:100%; height:50%; overflow-y:scroll;">
        <table>
          <tbody><tr>
            <td>Corner Cutting to Avoid Signal</td>
            <td>$70.50</td>
          </tr>
          <tr>
            <td>Driving On Closed Road</td>
            <td>$70.50</td>
          </tr>
          <tr>
            <td>Driving Over Curb</td>
            <td>$70.50</td>
          </tr>
          <tr>
            <td>Driving Wrong Side of Road</td>
            <td>$70.50</td>
          </tr>
          <tr>
            <td>Driving Wrong Way (One Way Street)</td>
            <td>$70.50</td>
          </tr>
          <tr>
            <td>Blocking Driveway or Alley</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Expired License Plates (Tags)</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Failure to Secure a Load</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Fake Temporary Tags</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Fictitious License Tabs</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Improper Exhaust or Muffler</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Improper Registration (Failure to Register)</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>License Plate not Illuminated</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>No Brake Lights</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>No Headlight</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>No Inspection Sticker</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>No License Plates</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>No Motorcycle Helmet</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>No Taillights</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Child Restraint Seat Violation*</td>
            <td>$49.00</td>
          </tr>
          <tr>
            <td>Failure to Keep to the Right</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Failure to Obey Electric Signal</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Failure to Obey Stop Sign</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Failure to Sound Horn</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Failure to Yield</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Failure to Yield to Emergency Vehicles</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Following too Closely</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Impeding/Obstructing Traffic Movement</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Improper Backing</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Improper Lane Usage</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Improper Passing</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Improper/Prohibited Turn</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>No Through Traffic</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Prohibited U-Turn</td>
            <td>$95.00</td>
          </tr>
          <tr>
            <td>Traffic Turn Signal Violation</td>
            <td>$95.00</td>
          </tr>
          </tbody></table>
      </div>
      <p>*waived if child restraint is purchased before court date</p>
    </div>
    <a name="contact"></a>
    <div class ="contact_information">
      <h2 id = "contact">Contact Information</h2>
      <table>
        <tr>
          <td style ="rowspan:3; width:50%">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.110974013866!2d-90.32858764921411!3d38.715261065164725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87df35b875cbaadb%3A0x60cbbf42f42cddf5!2s8920+Natural+Bridge+Rd%2C+St+Louis%2C+MO+63121!5e0!3m2!1sen!2sus!4v1462124836264" width="400" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </td>
          <td width="25%">Address</td>
          <td width="25%">123 Example Ln</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>(123) 456-7890</td>
        </tr>
        <tr>
          <td>Website</td>
          <td><a href ="http://examplecourt.gov">examplecourt.gov</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
