<div class="sub-page-title-block">
  <h1>Your Ticket. Your Rights. Right at Your Fingertips.</h1>
</div>
<div class="sub-page-container">
  <ul class="list-inline page-anchor-menu">
    <li><a href="/info#notGuilty" ng-click="ctrl.anchorScroll('notGuilty')">Pleading Not Guilty</a></li>
    <li><a href="/info#guilty" ng-click="ctrl.anchorScroll('guilty')">Pleading Guilty</a></li>
    <li><a href="/info#misc" ng-click="ctrl.anchorScroll('misc')">Miscellaneous</a></li>
    <li><a href="/">Find Your Ticket</a></li>
  </ul>

  <h2>Your Legal Rights</h2>
  <p>
    You have been charged with an ordinance violation(s). At your first court appearance (called an arraignment), you will be advised of the charge(s) against you. You have the right to retain counsel. You have the right to request the appointment of counsel if you are indigent and unable to employ counsel and there is a possibility of a jail sentence. You have the right to remain silent. Any statement made by you may be used against you.
  </p>
  <a class="anchor" id="notGuilty" name="notGuilty"></a>
  <h3>You May Plead Not Guilty</h3>
  <p>
    Your case will then be scheduled for a trial at a later date. You have the right to a Jury Trial. At the trial, you are presumed innocent. The County Counselor/Prosecutor must prove your guilt beyond a reasonable doubt. At the trial you have the right to confront and cross-examine the witnesses against you. You have the right to present evidence in defense of the charges, call witnesses and testify, but you are not required to do so.
  </p>
  <p>
    If you are found guilty after the trial, you have the right to file an appeal. The appeal requires a cost deposit $70 (per case) plus the amount charged by the State to transcribe the tape of the trial. The appeal must be filed within ten (10) days of the court's finding of guilt. Your case will be transcribed and transferred to the Missouri Court of Appeals for further adjudication.
  </p>

  <a class="anchor" id="guilty" name="guilty"></a>
  <h3>You May Plead Guilty</h3>
  <p>
    If you plead guilty, there will not be a trial of any kind and you will thereby waive you right to a trial. In most cases, a fine plus court costs will be assessed. You will be given a Fine/Cost/Fee Bill with the payment due date and payment instructions. If you are unable to pay the fine you can request that your case be placed on a future docket, to allow you time to pay the penalty imposed. Payment plans can be arranged.
  </p>
  <p>
    You will not be incarcerated for failure to pay your fines and/or court costs. However, if you fail to appear in court to show cause why you cannot pay, you may ultimately be arrested. If you are indigent and cannot pay the fines and/or the court costs a form will be provided to you so that the Judge can determine your ability to pay.
  </p>

  <a class="anchor" id="misc" name="misc"></a>
  <h3>Miscellaneous</h3>
  <p>
    Neither the judge nor the court clerks can give you legal advice. If you wish to consult with or hire an attorney, please tell the judge and he/she will continue your case.
  </p>
  <p>
    The courtroom is open to the public and can accommodate anyone with a disability. Everyone entering the courtroom is subject to security screening. No weapons of any kind are allowed.
  </p>

</div>

