<div>
  <form name="locationPickerForm" ng-submit="ctrl.selectLocation(locationPickerForm)">
  <div class="modal-header">
    <h3 class="modal-title">Select Ticketed Location</h3>
  </div>
  <div class="modal-body">
    <div>
      <leaflet id="municipalityMap" lf-center="ctrl.center"></leaflet>
    </div>
    <div ng-if="ctrl.mousedOverMunicipality != null">Municipality: {{ctrl.mousedOverMunicipality.name}}</div>
    <div style="margin-top: 20px;" ng-if="ctrl.selectedMunicipalities.length > 0">
      <label>Select Cities</label><br/>
      <form-field>
        <ui-select id="selectedMunicipalityFromMap" ng-disabled="true" multiple name="selectedMunicipality" register-custom-form-control required restrict-number-of-municipalities="{{ctrl.maxSearchMunicipalities}}" displayName="Municipality"  ng-model="ctrl.selectedMunicipalities">
        <ui-select-match>{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="municipality in ctrl.municipalities | filter: $select.search track by municipality.id">
          <div ng-bind-html="municipality.name | highlight: $select.search"></div>
        </ui-select-choices>
        </ui-select>
      </form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-scheme-primary" type="submit" ng-disabled="ctrl.selectedMunicipalities.length === 0">Save Selected</button>
    <button class="btn btn-danger" type="button" ng-click="ctrl.cancel()">Cancel</button>
  </div>
  </form>
</div>
