<div>
  <form name="createOppFrm" id="createOppFrm" novalidate ng-submit="ctrl.save(createOppFrm)" ng-submit-force="true">
    <div class="modal-header">
      <h3 class="modal-title">Create Opportunity</h3>
    </div>
    <div class="modal-body">
      <form-field label="Name" required>
        <input type="text" ng-model="ctrl.opportunity.name" displayName="Name" ng-maxlength="75" required />
      </form-field>
      <form-field label="Short Description" required>
        <input type="text" ng-model="ctrl.opportunity.shortDescription" displayName="Short Description" ng-maxlength="255" required />
      </form-field>
      <form-field label="Full Description" required>
        <textarea ng-model="ctrl.opportunity.fullDescription" displayName="Full Description" ng-maxlength="1000" required></textarea>
      </form-field>
      <form-field label="Municipality" required>
        <ui-select id="selectedMunicipality" name="selectedMunicipality" register-custom-form-control required displayName="Municipality" ng-model="ctrl.opportunity.courtId">
          <ui-select-match placeholder="Select a Municipality">{{$select.selected.municipality_name}}</ui-select-match>
          <ui-select-choices repeat="municipality.id as municipality in ctrl.municipalities | filter: $select.search track by municipality.municipality">
            <div ng-bind-html="municipality.municipality | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </form-field>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Create Opportunity</button>
      <button class="btn btn-danger" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>
  </form>
</div>
