<div>
  <form name="createOppNeedFrm" id="createOppNeedFrm" novalidate ng-submit="ctrl.save(createOppNeedFrm)" ng-submit-force="true">
    <div class="modal-header">
      <h3 class="modal-title">Create Opportunity Need</h3>
    </div>
    <div class="modal-body">
      <label>Opportunity:&nbsp;&nbsp;</label>{{ctrl.opportunity.name}}<br/><br/>
      <div class="row">
        <div class="col-sm-6">
          <form-field label="Start Date" required>
            <p class="input-group">
              <input type="date" class="form-control" datepicker-popup ng-model="ctrl.opportunityNeed.startTime" is-open="ctrl.minOpened" min-date="ctrl.minDate" max-date="ctrl.maxDate" ng-required="true" close-text="Close" format="MM/dd/yyyy" displayName="Start Date" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.openMin($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
          </form-field>
        </div>
        <div class="col-sm-6">
          <form-field label="End Date" required>
            <p class="input-group">
              <input type="date" class="form-control" datepicker-popup ng-model="ctrl.opportunityNeed.endTime" is-open="ctrl.maxOpened" min-date="ctrl.minDate" max-date="ctrl.maxDate" ng-required="true" close-text="Close" format="MM/dd/yyyy" displayName="End Date" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.openMax($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
          </form-field>
        </div>
      </div>

      <form-field label="Violation Fine Limit" required>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
          <input type="number" ng-model="ctrl.opportunityNeed.violationFineLimit" displayName="Fine Limit" ng-max="1000000" required />
        </div>
      </form-field>

      <form-field label="Positions Available" required>
        <input type="number" ng-model="ctrl.opportunityNeed.desiredCount" displayName="Positions Available" ng-max="100" required />
      </form-field>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Create Need</button>
      <button class="btn btn-danger" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>
  </form>
</div>
