<!--all needs changed and possibly removed-->
<div class="container" style="margin-top: 10px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#" ng-click="ctrl.goBack()">Ticket Info</a></li>
      <li class="active">Payment Options</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Payment Options</h3>
      <a class="btn btn-primary btn-lg" href="https://www.paypal.com/us/webapps/mpp/send-money-online" target="_blank"><i class="fa fa-paypal"></i>&nbsp;PayPal</a>&nbsp;
      <a class="btn btn-primary btn-lg" href="https://stripe.com/" target="_blank"><i class="fa fa-cc-stripe"></i>&nbsp;Stripe</a>&nbsp;
      <a class="btn btn-primary btn-lg" href="https://www.google.com/wallet/" target="_blank"><i class="fa fa-google-wallet"></i>&nbsp;Google Wallet</a>
      <br/><br/>
      - OR -<br/><br/>
      Credit Card:<br/>
      <a class="btn btn-default btn-lg" type="button"><i class="fa fa-cc-discover"></i></a>&nbsp;
      <a class="btn btn-default btn-lg" type="button"><i class="fa fa-cc-visa"></i></a>&nbsp;
      <a class="btn btn-default btn-lg" type="button"><i class="fa fa-cc-mastercard"></i></a>
    </div>
    <div class="col-sm-6">
      <h3>Alternative Payment Opportunities</h3>
      <div class="italic" ng-if="ctrl.opportunity.length === 0">
        There are no opportunities available for the municipality where this ticket was issued
      </div>
      <table class="table table-condensed table-bordered table-hover" ng-if="ctrl.opportunities.length > 0">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="opportunity in ctrl.opportunities">
            <td>{{opportunity.name}}</td>
            <td>{{opportunity.shortDescription}}</td>
            <td style="text-align: right;"><button type="button" class="btn btn-success btn-sm" ng-click="ctrl.openNeeds(opportunity)">View Needs</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
