<div class="container" style="margin-top: 10px">
    <form id="sponsorLoginFrm" name="sponsorLoginFrm" ng-submit="ctrl.DoSponsorLogin(sponsorLoginFrm)" novalidate ng-submit-force="true">

        <div class="row">
            <div class="col-sm-6">

                <form-field label="Username:" required>
                    <input type="text" ng-model="ctrl.credentials.userId" required ng-maxlength="20" displayName="Username" />
                </form-field>

                <form-field label="Password:" required>
                    <input type="password" ng-model="ctrl.credentials.password" required ng-maxlength="20" displayName="Password" />
                </form-field>

                <button class="btn btn-success btn-lg" ng-disabled="!sponsorLoginFrm.$valid" type="submit">LOGIN</button>

            </div>
        </div>
    </form>
</div>