<div class="stl-courts-datepicker-input-line">
  <div class="stl-courts-datepicker-date-group">
    <input class="stl-courts-datepicker-MM" maxlength="2" placeholder="MM" stl-courts-focus>
    <span>/</span>
    <input class="stl-courts-datepicker-DD" maxlength="2" placeholder="DD">
    <span>/</span>
    <input class="stl-courts-datepicker-YYYY" maxlength="4" placeholder="YYYY">
  </div>
  <!--<div class="stl-courts-datepicker-input" contenteditable="true" spellcheck="false"></div>-->
  <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.openCloseDateCalendar()">
    <i class="glyphicon glyphicon-calendar"></i>
  </button>
</div>
<div class="stl-courts-datepicker-calendar stl-courts-datepicker-hidden">
  <div>{{ctrl.uibDatePickerDate}}</div>
  <div style="display:inline-block;">
    <div uib-datepicker ng-model="ctrl.uibDatePickerDate" class="well well-sm" datepicker-options="ctrl.datepickerOptions"></div>
  </div>
</div>
