<form-field required>
  <ui-select id="selectedMunicipality" multiple name="selectedMunicipality" register-custom-form-control required displayName="Municipality" on-select="ctrl.municipalityAdded($item)" ng-model="ctrl.citationCriteria.municipalities">
    <ui-select-match placeholder="Select a City">{{$item.name}}</ui-select-match>
    <ui-select-choices repeat="municipality in ctrl.municipalities | filter: $select.search track by municipality.id">
      <div ng-bind-html="municipality.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</form-field>
<div class="centered">
  - OR - <br/><br/>
  <button class="black-button btn" type="button" ng-click="ctrl.openMap()"><i class="fa fa-map"></i>&nbsp;&nbsp;Select on Map</button>
</div>
