<div id="homeMainImage" fxLayoutAlign="center center">
  <span id="homePageTitle" class="fontSizeLarge standardTextColor">Your Ticket. Your Rights. Right at your Fingertips.</span>
</div>
<div class="test">
</div>
<div id="taskSelectionBoxes" fxLayout="row">
  <div fxFlex="10"></div>

  <mat-card id="courtSelectionBox" class="taskSelectionBox mat-elevation-z12" fxFlex="35" fxLayoutAlign="center center">
    <mat-card-content class="taskSelectionBoxTitle" fxLayout="column" fxLayoutAlign="center center">
      <div><span><i class="material-icons fontSizeLarge">account_balance</i></span></div>
      <div><span class="fontSizeLarge">Look-up Court Information</span></div>
    </mat-card-content>
  </mat-card>

  <div fxFlex="10"></div>

  <mat-card id="ticketSelectionBox" class="taskSelectionBox mat-elevation-z12" fxFlex="35" fxLayoutAlign="center center">
    <mat-card-content class="taskSelectionBoxTitle" fxLayout="column" fxLayoutAlign="center center">
      <div><i class="material-icons fontSizeLarge">receipt</i><div>
      <div><span class="fontSizeLarge">Find Your Ticket</span></div>
    </div>
  </div>

      <div fxFlex="10"></div>
</mat-card-content>
