<div fxLayout="column" fxFlex="1 1 100%">
  <div  id="homePageTitle" fxLayoutAlign="center">
    <span class="primary">Your Ticket. Your Rights. Right at your Fingertips.</span>
  </div>
  <div fxFlex="1 1 100%" fxLayout="row">
    <a routerLink="/findCourts" class="homePageSelector bkcolor-primary" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <div id="courtSelector"></div>
      <mat-icon>account_balance</mat-icon>
      <span class="homePageSelectionTileText">Look-up Court Information</span>
    </a>
    <a routerLink="/findTickets" class="homePageSelector bkcolor-accent" fxFlex="50"  fxLayout="column" fxLayoutAlign="center center">
      <div id="ticketSelector"></div>
      <mat-icon>receipt</mat-icon>
      <span class="homePageSelectionTileText">Find Your Ticket</span>
    </a>
  </div>
</div>
